<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleExecutable</key>
  <string>python</string>
  <key>CFBundleIdentifier</key>
  <string>com.rovia.sidecar.blehost</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>RoviaBleHost</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1.0</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>LSBackgroundOnly</key>
  <true/>
  <key>NSBluetoothAlwaysUsageDescription</key>
  <string>Rovia sidecar needs Bluetooth access to read wristband and squeeze sensor data.</string>
  <key>NSBluetoothPeripheralUsageDescription</key>
  <string>Rovia sidecar needs Bluetooth access to communicate with the wristband and squeeze device.</string>
  <key>NSPrincipalClass</key>
  <string>NSApplication</string>
</dict>
</plist>
