CONFIG_ZCLAW_STUB_LLM=y
CONFIG_ZCLAW_STUB_TELEGRAM=y
CONFIG_ZCLAW_CHANNEL_UART=y
CONFIG_ZCLAW_EMULATOR_MODE=y
CONFIG_ZCLAW_GPIO_MIN_PIN=2
CONFIG_ZCLAW_GPIO_MAX_PIN=10
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
